{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/shopping.css' %}">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div class="container">
            <h2>Выберите товары из списка Ваших покупок и нажмите "Готово"</h2>
            <form action="/shopping/" method="POST">{% csrf_token %}
            <div class="row">
                {% block content %}
                {% endblock %}     
            </div>
            <div class="col-sm margin-bot-top">
                <button type="submit" class="btn btn-success">Готово</button>
            </div>    
            </form>
        </div>
    </body>
</html>       